.container{
    display: flex;
    width: 70%;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    flex-direction: column;
    align-items: center;
}
.container .filtro{
    display: flex;
    width: 95%;
    height: 20%;
    border-bottom: dashed #FF0054;;
    justify-content: space-around;
    align-items: center;
}

.container .filtro button{
    background-color: #820B8A;
    font-family: "Poppins", sans-serif;
    color:white;
    font-size: 1.2rem;
    border-radius: 2rem;
    border: none;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.72);
    padding: 1% 3%;
    cursor: pointer;
}
.container .filtro button:hover {
    transform: scale(1.05); /* Aumenta o tamanho em 20% ao passar o mouse */
    transition: 0.3s;
}

.container .publicacoes{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container1{
    width: 21%;
}
.containermax{
    width: 100%;
    height: 100vh; /* altura total da viewport */
    overflow-y: auto; /* permite rolagem vertical */
}


.scrollToTop {
    display: flex;
    width: 3rem;
    height: 3rem;
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-color: #820B8A;
    color: white;
    padding: 1%;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.658);
    transition: opacity 0.3s ease;
    opacity: 0.8;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.scrollToTop:hover {
    opacity: 1;
}

