.popup-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);/
}

.popup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 200%;
  gap: 5vh;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 5vh;
}

.popup-actions {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 2.5vh;
}

.pop-yes-button,
.pop-no-button {
  background-color: #820B8A;
  color: white;
  border: none;
  padding: 2.5vh 5vh;
  cursor: pointer;
  border-radius: 3vh;
  margin: 0 5vh;
}

.date-picker {
  background-color: #ffffff;
  /* Cor de fundo da caixa */
  border: 0.4vh solid #ff0054;
  /* Cor da borda */
  color: #000;
  /* Cor do texto */
  font-size: 100%;
  padding: 2vh;
  border-radius: 2vh;
}

/* Alterando o estilo do placeholder (o texto "Selecione uma data") */
.date-picker::placeholder {
  color: #ff0054;
  /* Cor do placeholder */
  opacity: 1;
  /* Garante que a cor seja aplicada corretamente */
}







.container {
  display: flex;
  width: 100%;
}

.containerCriarPublicacao {
  display: flex;
  width: 91%;
  flex-direction: row;
}

.texto {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
  border: none;

}

.botoes {
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20%
}

.botoes1 {
  display: flex;
  height: 20%;
  width: 48%;
  flex-direction: column;
  justify-content: space-around;
  gap: 9%;
}

textarea {
  padding: 3%;
  width: 85%;
  font-family: "Poppins", sans-serif;
  height: 50%;
  border: solid #820B8A;
  border-radius: 1rem;
}

.button-base {
  display: flex;
  background-color: #820B8A;
  width: 100%;
  height: 43%;
  color: white;
  border-radius: 1rem;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.575);
  align-items: center;
  justify-content: center;
  cursor: pointer;

}
.button-base:hover{
  transform: scale(1.05); /* Aumenta o tamanho em 20% ao passar o mouse */
  transition: 0.4s;
}