  .button-anexar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 200%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    cursor: pointer;
    background: #820B8A;
    box-shadow: 0vh 0.5vw 0.8vh rgba(0, 0, 0, 0.25);
    border-radius: 40vw;
    border: 0.05vw solid black;
    position: absolute;
    width: 19vw; 
    height: 13vh; 
    left: 78vw; 
    top: 15vh; 
}

  .button-pre{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 200%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    cursor: pointer;
    background: #820B8A;
    box-shadow: 0vh 0.5vw 0.8vh rgba(0, 0, 0, 0.25);
    border-radius: 40vw;
    border: 0.05vw solid black;
    position: absolute;
    width: 19vw;
    height: 13vh; 
    left: 78vw;
    top: 48vh;
  }

  .button-filtros{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 200%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    cursor: pointer;
    background: #820B8A;
    box-shadow: 0vh 0.5vw 0.8vh rgba(0, 0, 0, 0.25);
    border-radius: 40vw;
    border: 0.05vw solid black;
    position: absolute;
    width: 19vw;
    height: 13vh;
    left: 78vw;
    top: 31.5vh;
}

  .button-cancelar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 200%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    cursor: pointer;
    background: #820B8A;
    box-shadow: 0vh 0.5vw 0.8vh rgba(0, 0, 0, 0.25);
    border-radius: 40vw;
    border: 0.05vw solid black;
    position: absolute;
    width: 19vw;
    height: 13vh;
    left: 78vw;
    top: 75vh;
  }

  .button-cancelar-pre{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 200%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    cursor: pointer;
    background: #820B8A;
    box-shadow: 0vh 0.5vw 0.8vh rgba(0, 0, 0, 0.25);
    border-radius: 40vw;
    border: 0.05vw solid black;
    position: absolute;
    width: 19vw;
    height: 13vh;
    left: 78vw;
    top: 75vh;
  }
  
  .button-finalizar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    cursor: pointer;
    background: #820B8A;
    box-shadow: 0vh 0.5vw 0.8vh rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    border: 1px black solid;
    position: absolute;
    width: 258px;
    height: 76px;
    left: 937px;
    top: 434px;
  }

  .button-artista{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 200%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    cursor: pointer;
    background: #820B8A;
    box-shadow: 0vh 0.5vw 0.8vh rgba(0, 0, 0, 0.25);
    border-radius: 40vw;
    border: 0.05vw solid black;
    position: absolute;
    width: 19vw;
    height: 13vh;
    left: 26vw;
    top: 53vh;
  }

  .button-evento{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 200%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    cursor: pointer;
    background: #820B8A;
    box-shadow: 0vh 0.5vw 0.8vh rgba(0, 0, 0, 0.25);
    border-radius: 40vw;
    border: 0.05vw solid black;
    position: absolute;
    width: 19vw;
    height: 13vh;
    left: 63vw;
    top: 53vh;
  }

  .button-publicar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 200%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    cursor: pointer;
    background: #820B8A;
    box-shadow: 0vh 0.5vw 0.8vh rgba(0, 0, 0, 0.25);
    border-radius: 40vw;
    border: 0.05vw solid black;
    position: absolute;
    width: 19vw;
    height: 13vh;
    left: 78vw;
    top: 10vh;
  }

  .button-voltar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 200%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    cursor: pointer;
    background: #820B8A;
    box-shadow: 0vh 0.5vw 0.8vh rgba(0, 0, 0, 0.25);
    border-radius: 40vw;
    border: 0.05vw solid black;
    position: absolute;
    width: 19vw;
    height: 13vh;
    left: 45vw;
    top: 80vh;
  }

  .popup-background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /
  }
  
  .popup-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    gap: 20px;
  }

  .buttons-container {
    display: flex;
    justify-content: center; 
    gap: 20px; 
  }
  
  .popup-actions {
    display: flex;
    justify-content: space-around; 
    width: 100%; 
    padding: 10px;
  }

  .pop-yes-button, .pop-no-button {
    background-color: #820B8A; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
    border-radius: 5px; 
    margin: 0 10px; 
  }

  .date-picker {
    background-color: #ffffff; /* Cor de fundo da caixa */
    border: 1px solid #ff0054; /* Cor da borda */
    color: #000; /* Cor do texto */
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
  }
  
  /* Alterando o estilo do placeholder (o texto "Selecione uma data") */
  .date-picker::placeholder {
    color: #ff0054; /* Cor do placeholder */
    opacity: 1; /* Garante que a cor seja aplicada corretamente */
  }