.container{
    display: flex;
    width: 75%;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}
.container .filtro{
    display: flex;
    width: 95%;
    height: 20%;
    border-bottom: dashed #FF0054;;
    justify-content: space-around;
    align-items: center;
}

.container .filtro button{
    background-color: #820B8A;
    font-family: "Poppins", sans-serif;
    color:white;
    font-size: 1.2rem;
    border-radius: 2rem;
    border: none;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.72);
    padding: 1% 3%;
    cursor: pointer;
}
.container .filtro button:hover {
    transform: scale(1.05); /* Aumenta o tamanho em 20% ao passar o mouse */
    transition: 0.3s;
}

.container .publicacoes{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container1{
    width: 21%;
}
.containermax{
    width: 91%;
    display: flex;
    height: 100vh; /* altura total da viewport */
    overflow-y: auto; /* permite rolagem vertical */
}


.scrollToTop {
    display: flex;
    height: 4vw;
    width: 4vw;
    position: fixed;
    bottom: 5%;
    right: 23.5%;
    background-color: #820B8A;
    color: white;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.658);
    transition: opacity 0.3s ease;
    opacity: 0.8;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
}


.scrollToTop:hover {
    opacity: 1;
}

.NovosPerfil{
    display: flex;
    width: 25%;
    border-left: solid #FF0054;
    flex-direction: column;
}

.NovosPerfil .logo{
    display: block;
    margin: auto;
    margin-top: 2%;
}
.NovosPerfil .escrito{
    color: #FF5400;
    display: block;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-bottom: 3%;
    font-size: 1.2rem;
}

/* Estilo da barra de rolagem */
.container::-webkit-scrollbar {
    width: 0vw /* Largura da barra de rolagem */
}
.listaPerfil::-webkit-scrollbar {
    width: 0vw /* Largura da barra de rolagem */
}

/* Estilo da track (fundo da barra de rolagem) */
.container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do fundo da barra */
    border-radius: 10px; /* Canto arredondado */
}

/* Estilo do thumb (a parte que você arrasta) */
.container::-webkit-scrollbar-thumb {
    background-color: #820B8A; /* Cor da barra */
    border-radius: 10px; /* Canto arredondado */
    border: 3px solid #f1f1f1; /* Espaçamento em volta do thumb */
}

/* Estilo do thumb ao passar o mouse (hover) */
.container::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Cor ao passar o mouse */
}





.listaPerfil{
    display: flex;
    height: 100%;
    list-style-type: none;
    overflow-y: auto;
    gap: 6%;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
}

.listaPerfil li{
    width: 80%;
    display: flex;
    background: #FF5400;
    border-radius: 1rem;
    cursor: pointer;
    flex-direction: column;
}
.listaPerfil li .containercard{
    display: flex;
    align-items: center;
    padding: 5% 5% 0%;
    gap: 4%;
    flex-direction: row;
}
.listaPerfil li img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
}
.listaPerfil li p{
    font-size: 0.8rem;
    margin: 0;
    padding: 2% 7%;
}
