* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: lightblue; /*#f5f5f5*/
}

.profile {
  margin-bottom: 20px;
}

.profile-pic {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid #fff;
}

.menu {
  margin-top: 20px;
  width: 100%;
}

.menu-btn {
  background-color: transparent;
  color: white;
  border: none;
  padding: 15px 20px;
  margin: 10px 0;
  text-align: left;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.menu-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.main-content {
  width: 85%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 25px;
}

.header h1 {
  font-size: 28px;
  color: #000000;
}
.create-event-btn {
  padding: 10px 20px;
  background-color: #820B8A;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
}

.create-event-btn:hover {
  background-color: #a64ca6;
}

.calendar-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.calendar-controls button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #820B8A;
  cursor: pointer;
  padding: 0 15px;
}

.calendar-controls span {
  font-size: 18px;
  font-weight: bold;
  color: #820B8A;
}


.calendar-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: transparent;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #820B8A;
  margin-top: 200px;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}

.day {
  background-color: #f8f9fa;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  position: relative;
  font-size: 16px;
  color: #333;
}

.day::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ff4f99;
  top: 5px;
  right: 5px;
}



.upcoming-events h3 {
  font-size: 20px;
  color: #820B8A;
  margin-bottom: 10px;
}

.upcoming-events ul {
  list-style-type: none;
}

.upcoming-events li {
  margin: 10px 0;
  color: #333;
  font-size: 16px;
}
.agenda {
  display: flex;
  width: 93%;
  height: 85px;
  opacity: 0.8;
  background: linear-gradient(90deg, #6D0A9B 0%, #FA2F84 49.5%, #F58C2B 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.calendar-container {
  width: 60%; /* Ajuste conforme necessário */
  margin-left: 20px; /* Para afastar do conteúdo à esquerda */
}